<div class="about-container box-shadow mt-5 p-3">
    <div class="row">
        <div class="col about-content">
            <h3>About</h3>
            <p>Self-directed and resourceful Full-stack Software Developer with over 5 years of experience in developing
                cutting-edge
                software solutions and web applications for enterprise customers. Skilled in analytical problem-solving
                and team
                leadership.</p>
        </div>
        <div class="col basic-info">
            <h3>Basic Information</h3>
            <div class="items">
                <div class="row">
                    <div class="col-4 head">
                        <div>Email:</div>
                        <div>Phone:</div>
                        <div>Address:</div>
                        <div>Languages:</div>
                    </div>
                    <div class="col-8 body">
                        <div>vithushan.vn@gmail.com</div>
                        <div>+1 416-827-2713</div>
                        <div>Ottawa, Ontario, Canada</div>
                        <div>English, Tamil, Sinhala</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>