<div class="card-container my-3">
    <div class="experience row">
        <div class="col-3 head">
            <div class="head-content">
                <div class="duration mb-2">
                    {{ education.duration }}
                </div>
                <div class="degree">
                    {{ education.degree }}
                </div>
            </div>
        </div>
        <div class="col-9 body">
            <div class="body-content p-3">
                <div class="major">
                    {{ education.major }}
                </div>
                <div class="university mb-1">
                    {{ education.university }}
                </div>
                <div class="description">
                    {{ education.description }}
                </div>
            </div>
        </div>
    </div>
</div>