<div class="header-content">
    <div class="profile-pic">
        <img [src]="'/assets/images/Vithushan.jpg'" alt="Profile picture">
    </div>
    <h1>Vithushan Navanathan</h1>
    <h3>Full-stack Software Developer</h3>
    <div class="social-icons">
        <i class="fa-brands fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/vithushan-navanathan/"><fa-icon [icon]="faLinkedin"> </fa-icon></a>
        <a href="https://github.com/Vithushan322"><fa-icon [icon]="faGithub"> </fa-icon></a>
        <a href="https://www.instagram.com/vithushan.n"><fa-icon [icon]="faInstagram"> </fa-icon></a>
        <a href="assets/files/Vithushan Resume.pdf" download><fa-icon [icon]="faDownload"> </fa-icon></a>
    </div>
</div>