.card-container {
    color: #fff;

    .experience {
        .head {
            padding-right: 0 !important;
        }

        .body {
            padding-left: 0 !important;
        }

        .head-content,
        .body-content {
            height: 130px !important;
        }

        .head-content {
            background-color: #378c3f;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            .duration {
                font-weight: 200;
                font-size: 14px;
            }

            .company{
                font-size: 25px;
            }
        }

        .body-content {
            color: #2e2e2e;
            background-color: #f1f1f1;

            .title{
                font-size: 20px;
            }

            .description{
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
}
