<div class="card-container my-3">
    <div class="experience row">
        <div class="col-3 head">
            <div class="head-content">
                <div class="duration mb-2">
                    {{ experience.duration }}
                </div>
                <div class="company">
                    {{ experience.company }}
                </div>
            </div>
        </div>
        <div class="col-9 body">
            <div class="body-content p-3">
                <div class="title mb-2">
                    {{ experience.title }}
                </div>
                <div class="description">
                    {{ experience.description }}
                </div>
            </div>
        </div>
    </div>
</div>