<div class="education-container mt-5">
    <h2>Education</h2>
    <div class="education">
        <h3>Master of Information Technology</h3>
        <p>University of Computer Science, 2015 - 2016</p>
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <div class="education">
        <h3>Bachelor of Computer Science</h3>
        <p>University of Computer Science, 2010 - 2014</p>
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <!-- Add other education details similarly -->
</div>